<% @containers.each do |container| %>

    <div class="card container-card">
      <div class="card-header">
        TubeID: <%= container.container_id[0, 12] %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="w-100"></div>

<% end %>