@import "global";
@import "bootstrap";
@import "dashboard";
@import "font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-top: 60px;
}

.btn.disabled {
  pointer-events: none;
}