.header {
  background-color: $header_blue;

  .logo-text {
    font-weight: bolder;
    font-size: 1.2em;
    text-decoration: none;
  }

  #sm_screen_toggle_btn {
    border: 1px solid rgba(0, 123, 255, 0.8);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
}

#create_tube {
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    i {
      font-size: 1.2rem;
    }
  }
}

.container-card {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 0 5px #ccc;

  .card-header {
    border: none;
    background-color: #eee;
    span {
      height: 36px;
      line-height: 36px;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-header, .card-body, .list-group-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .card-body {
    @include media-breakpoint-up(md) {
      .row {
        justify-content: space-around;
      }
    }

    .list-group-item {
      code {
        font-family: Monaco, monospace;
        background-color: #eee;
        padding: 3px 6px;
        border-radius: 6px;
      }
    }
  }

  .qr {
    img {
      width: 100%;
      max-width: 210px;
      height: auto;
    }
  }
}